.App {
  &__block {
    display: flex;
    align-items: center;
    align-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    & > div {
      border: 1px solid #777;
      border-radius: 10px;
      padding: 1rem;
      width: 300px;
      text-align: center;
      background-color: #fff;
    }
  }
}
