ol {
  list-style: decimal !important;

  li {
    padding: 1rem;
    background: linear-gradient(30deg, #215DEE, #B61CFF);
    color: #fff;
    margin-bottom: 10px;

    &::marker {
      color: #111;
    }
  }
}