.Users {
  text-align: center;
  margin-top: 20px;
  border: 1px solid #dedede;
  border-radius: 12px;
  padding: 20px;
  ul {
    list-style: none;
    width: 450px;
    margin: 0 auto;
    padding: 0;
    li {
      margin: 10px 0;
      font-size: 20px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 8px;

      button {
        background: #ff6b6b;
        border: none;
        margin-left: 10px;
        color: white;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease;
        &.edit {
          background: #147bd6;
        }
      }
    }
  }
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
  margin-right: 10px;
}
