.Users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px auto;

  &__item {
    position: relative;
    padding: 1rem;
    color: #fff;
    width: 300px;
    background-color: #111;
    & > h1 {
      font-weight: 100;
      font-size: 26px;
      font-family: 'Courier New', Courier, monospace;
    }
    & > p {
      color: #666;
      line-height: 1.7;
      font-size: 18px;
    }
  }
  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0.4rem 1rem;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    background-color: crimson;
    color: #fff;
  }
}
