p {
  color: rgb(241, 3, 51);
  font-size: 14px;
  font-weight: 700;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
}

form {
  width: 600px;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin: 50px auto;
  input {
    width: 100%;
    display: block;
    margin-top: 6px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  label {
    display: block;
    font-variant: small-caps;
  }
}
