.contact {
  &__btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }
}
