.Users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px auto;
  min-height: 400px;
  &__block {
    padding: 30px 20px;
    color: #fff;
    width: 300px;
    background-color: #000;
    & > h1 {
      font-weight: 100;
      font-size: 26px;
      font-family: 'Courier New', Courier, monospace;
    }
    & > p {
      color: #666;
      line-height: 1.7;
      font-size: 18px;
      margin-top: 200px;
    }
  }
  &__btn {
    padding: 0.4rem 1rem;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    background-color: crimson;
    color: #fff;
  }
}
