.App__buttons {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  border-radius: 12px;
  outline: 10px solid #1f1d1b;
  padding: 3em 2em;
  gap: 20px;
  margin: 120px auto
}

h1 {
  color: #fff;
}

button {
  font-weight: 600;
  border: 0;
  border-radius: 14px;
  font-size: 16px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: 0.1s;

  &.active {
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
}