.App {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  &__box {
    padding-left: 10px;
    background-color: black;
    color: aliceblue;
  }
}
